@import "@styles/vars.module.scss";

.TransitionScreen{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	//width: calc(100% - clamp(250px, 20vw, 360px));
	z-index: 10;

	img{
		transition: $transitionSlow;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 1500px;
		height: auto;
		opacity: 0;
	}
	
	svg{
		transition: $transitionSlow;
		transform-box: view-box;
		opacity: 0;
	}
	//
}

