@import "@styles/vars.module.scss";

.PopupCard{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
	width: 65vw;
	aspect-ratio: 16 / 9;
	background-color: $grey_1;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: $zIndexMedium;
	transition: $transitionSlow;

	&[data-active="false"]{
		opacity: 0;
		pointer-events: none;
	}
	&[data-active="true"]{
		opacity: 1;
		pointer-events: auto;
	}

	[data-close]{
		cursor: pointer;
		display: inline-block;
		position: absolute;
		top: 25px;
		right: 25px;
	}
}

