@import "@styles/vars.module.scss";

.Slide3Background{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #137D99;
	img{
		width: 18vw;
		height: auto;
		position: absolute;
		left: 30%;
		bottom: 0px;
		transform: translate3d(-50%, 0%, 0px);
	}
}