@import "@styles/vars.module.scss";

.Slide1Background{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #0E4C61;
	.testSquare1{
		width: 35vw;
		height: 35vw;
		background-color: #bee330;
		position: absolute;
		left: 10%;
		top: 0%;
	}

	.endPiece{
		width: 300px;
		height: 100%;
		transform: skew(-8deg);
		background: $offWhite;
		position: absolute;
		top: 0;
		right: -200px;
	}
}