@import "@styles/vars.module.scss";

.BackToHome{
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	width: 100%;
	max-height: 150px;
	height: 100%;

	.area{
		background-color: $grey_1;
		height: 250%;
		aspect-ratio: 1.5/1;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		cursor: pointer;
		p{
			position: relative;
			top: 10%;
		}
	}
}