@import "@styles/vars.module.scss";

.VideoThumbnail{
	max-width: 100%;
	width: clamp(220px, 100%, 375px);
	cursor: pointer;
	margin-bottom: 0.5rem;

	.thumbnail{
		position: relative;
		img{
			image-rendering: crisp-edges;
			margin-bottom: 0px !important;
			width: 100% !important;
		}
		.thumbnailIcon{
			position: absolute;
			bottom: 5%;
			right: 5%;
			width: 100px;
			aspect-ratio: 1/1;
			//background-color: rgba($white, 0.75);
			//border: solid 2px $black;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			svg{
				max-width: 100%;
				position: relative;
				bottom: -5px;
			}
		}
	}
	.text{
		background-color: $primaryDarkGray;
		color: $white;
		padding: 0px $clampSmall;
		font-size: $clampSmall;
	}
}