@import "@styles/vars.module.scss";

.Slide3Foreground{
	width: 100%;
	height: 100%;
	position: relative;
	.textElement{
		--size: 35vw;
		width: 40vw;
		height: 60vh;
		//border: dashed 2px #000;
		border-radius: 1em;
		background-color: #c0e231;
		position: absolute;
		left: 64%;
		bottom: 40%;
		transform: translate3d(-50%, 50%, 0px);
		display:flex;
		justify-content: center;
		align-items: center;
		font-size: 0.65rem;
		padding: 3em;

		.triangle {
		   width: 0px;
		   height: 0px;
		   border-style: solid;
		   border-width: 0 100px 250px 100px;
		   border-color: transparent transparent #c0e231 transparent;
		   transform: rotate(-110deg);
		   position: absolute;
		   top: 5%;
		   left: -60px;
		   z-index: 2;
		}

		.inner{
			color: #0E4C61;
			background-color: #c0e231;
			position: relative;
			z-index: 3;
			font-size: 1rem;
			text-align: center;
		}
	}

}