/*========================================*/
//	ANIMATIONS.MODULE.SCSS
//	
//	Put your notes here.
//	
/*========================================*/
@import "@styles/vars.module.scss";

/* ========================== */
/* ===== HTML/Body/Root ===== */
/* ========================== */

/* ============================== */
/* ===== Slide 1 Animations ===== */
/* ============================== */
	#phone-blue-chat-bubble{
		animation: slide-1-bump-1 5s infinite;
		animation-delay: 0s;
		z-index: 5;
	}
	#lightbulb-green-chat-bubble{
		animation: slide-1-bump-2 5s infinite;
		animation-delay: 0.25s;
		z-index: 4;
	}
	#megaphones-orange-chat-bubble{
		animation: slide-1-bump-3 5s infinite;
		animation-delay: 0.5s;
		z-index: 3;
	}

	/* ===== Animation Sequences ===== */
		@keyframes slide-1-bump-1 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }

		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(-2vw, -2vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}
		@keyframes slide-1-bump-2 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }

		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(0vw, -2vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}
		@keyframes slide-1-bump-3 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }

		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(2vw, -2vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}

/* ============================ */
/* ===== Burst Animations ===== */
/* ============================ */
	#slide-2-burst1{
		animation: slide-2-burstBump1 5s infinite;
		animation-delay: 0s;
	}
	#slide-2-burst2{
		animation: slide-2-burstBump2 5s infinite;
		animation-delay: 0.25s;
	}
	#slide-2-burst3{
		animation: slide-2-burstBump3 5s infinite;
		animation-delay: 0.5s;
	}
	#slide-2-burst4{
		animation: slide-2-burstBump4 5s infinite;
		animation-delay: 0.75s;
	}

	/* ===== Animation Sequences ===== */
		@keyframes slide-2-burstBump1 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(1vw, -0.5vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}
		@keyframes slide-2-burstBump2 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(1.5vw, 0.15vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}
		@keyframes slide-2-burstBump3 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(1.25vw, 0.5vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}
		@keyframes slide-2-burstBump4 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(1vw, 0.5vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}


/* ============================ */
/* ===== Burst Animations ===== */
/* ============================ */
	#slide-3-burst1{
		animation: burstBump1 5s infinite;
		animation-delay: 0s;
	}
	#slide-3-burst2{
		animation: burstBump2 5s infinite;
		animation-delay: 0.25s;
	}
	#slide-3-burst3{
		animation: burstBump3 5s infinite;
		animation-delay: 0.5s;
	}

	/* ===== Animation Sequences ===== */
		@keyframes burstBump1 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(-2vw, -2.5vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}
		@keyframes burstBump2 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(-5vw, -0.15vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		}
		@keyframes burstBump3 {
		  0%, 100% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  25% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(-4vw, 1.5vw, 0vw);
		  }
		  75% {
		    transform: translate3d(0vw, 0vw, 0vw);
		  }
		  
		}

/* ============================== */
/* ===== Slide 1 Animations ===== */
/* ============================== */
	//$animationSettings: water-dash 5s linear reverse infinite;
	#hand1{
		animation: slide-4-hand1 5s infinite;
		animation-delay: 0s;
		position: relative;
		right: -5vw;
	}
	#hand2{
		animation: slide-4-hand1 5s infinite;
		animation-delay: 0.25s;
	}
	#hand3{
		animation: slide-4-hand1 5s infinite;
		animation-delay: 0.5s;
	}

	/* ===== Animation Sequences ===== */
		@keyframes slide-4-hand1 {
		  0%, 100% {
		    transform: translate3d(2vw, 0vw, 0vw);
		  }

		  25% {
		    transform: translate3d(2vw, 0vw, 0vw);
		  }
		  50%{
		  	transform: translate3d(2vw, 3vw, 0vw);
		  }
		  75% {
		    transform: translate3d(2vw, 0vw, 0vw);
		  }
		}


/* ================================== */
/* ===== Watering Can Animation ===== */
/* ================================== */
	$dashSize: 10;
	$animationSettings: water-dash 5s linear reverse infinite;
	#slide-5-line1{
		stroke-dasharray: $dashSize;
		animation: $animationSettings;
		animation-delay: 0s;
	}
	#slide-5-line2{
		stroke-dasharray: $dashSize;
		animation: $animationSettings;
		animation-delay: 0.25s;
	}
	#slide-5-line3{
		stroke-dasharray: $dashSize;
		animation: $animationSettings;
		animation-delay: 0.5s;
	}
	#slide-5-line4{
		stroke-dasharray: $dashSize;
		animation: $animationSettings;
		animation-delay: 0s;
	}
	#slide-5-line5{
		stroke-dasharray: $dashSize;
		animation: $animationSettings;
		animation-delay: 0.25s;
	}
	#slide-5-line6{
		stroke-dasharray: $dashSize;
		animation: $animationSettings;
		animation-delay: 0.5s;
	}
	#slide-5-line7{
		stroke-dasharray: $dashSize;
		animation: $animationSettings;
		animation-delay: 0s;
	}
	

	/* ===== Animation Sequences ===== */
		@keyframes water-dash {
		  to {
		    stroke-dashoffset: 300;
		  }
		}

		




