/*========================================*/
//	Big SCSS Comment
//	
//	Put your notes here.
//	
/*========================================*/
@import "@styles/vars.module.scss";

/* ==================== */
/* ===== All Pages ===== */
/* ==================== */
.pageLayout{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;

	.mainSection{
		height: 100%;
		width: 100%;
		position: relative;
	}
}

/* ========================================= */
/* ===== Level 1 Page - index/cards page ===== */
/* ========================================= */
.pageLevel1{
	height: 100%;
	width: 100%;

}




/* =================================== */
/* ===== Simple Background Colors ===== */
/* =================================== */
	