/**************************************************
VARS File

Description:	Store SCSS vars here


**************************************************/

/* ================== */
/* ===== Imports ===== */
/* ================== */

@import "@styles/fonts.module.scss";


/* ========================== */
/* ===== Color Variables ===== */
/* ========================== */
	$black: 				#212121;
	$white: 				#FFFFFF;
	$grey_1:			#EEE7E7;
	$grey_2:			#373231;
	$red: 				#FF0000;

	$orange: 			#E0603A;
	$darkOrange:		#BA4103;
	$brown:				#8B423E;
	$teal:				#00DFC3;
	$purple:			#C136BE;
	$green:				#7DC242;
	$cream: 				#FFF0E8;
	$cream2:			#FFF7F3;
	$cream3:			#FFFDF8;
	$lightBlue:		#F1FCFE;
	$lightGreen:		#F4FFFA;
	$darkBlue:		#007B98;
	$grey:				#F4EFEF;

	//Card colors
	$mutedRed: 		#FDD7C2;
	$mutedYellow: 	#FEEEC4;
	$mutedBlue: 		#C8EAEC;
	$mutedGreen: 		#CEECCE;

	//Primar y Palette
	$primaryGray: 			#A69F9F;
	$primaryLightGray: 	#EEE7E7;
	$primaryPurple: 		#BE2BBB;
	$primaryDarkGray: 	#595454;
	$primaryWhite:			#FFFFFF;

	//Dark Palette
	$darkPeach: 	#671112;
	$darkAmber: 	#C06005;
	$darkAqua: 	#225C6E;
	$darkMint: 	#267148;

	//Door Colors
	$doorPeach: 	#FDD7C2;
	$doorAmber: 	#FFD186;
	$doorAqua: 	#C0F2FB;
	$doorMint: 	#C5FFE6;

/***** Named Colors *****/
	//only use other vars
	$primaryColor:			$black;
	$secondaryColor:		$white;
	$backgroundColor:		$white;
	$textColor:				$black;
	$accentColor:			$darkBlue;
	$accentColor2:			$teal;


/* ================ */
/* ===== Fonts ===== */
/* ================ */
	//BMS Humanity
	$fontBMS: 					"bms_humanityregular";
		//Variants
		$fontBMSBoldItalic: 	"bms_humanitybold_italic";
		$fontBMSExtraBold: 	"bms_humanityextrabold";
		$fontBMSItalic: 			"bms_humanityitalic";
		$fontBMSLight: 			"bms_humanitylight";
		$fontBMSLightItalic:	"bms_humanitylight_italic";
		$fontBMSThin: 			"bms_humanitythin";
		$fontBMSThinItalic: 	"bms_humanitythin_italic";

	//BMS Humanity NW
	$fontBMSNW: 					"bms_humanity_nwregular";
		//Variants
		$fontBMSNWBold: 			"bms_humanity_nwbold";
		$fontBMSNWBoldItalic: 	"bms_humanity_nwbold_italic";
		$fontBMSNWExtraBold: 	"bms_humanity_nwextrabold";
		$fontBMSNWItalic: 			"bms_humanity_nwitalic";
		$fontBMSNWLight:			"bms_humanity_nwlight";
		$fontBMSNWLightItalic: 	"bms_humanity_nwlight_italic";
		$fontBMSNWThin: 			"bms_humanity_nwthin";
		$fontBMSNWThinItalic: 	"bms_humanity_nwthin_italic";

	//BMS Humanity AR
	$fontBMSAR: 					"bms_humanity_arregular";
		//Variants
		$fontBMSARBold: 			"bms_humanity_arbold";
		$fontBMSARExtraBold:	"bms_humanity_arextrabold";
		$fontBMSARLight: 			"bms_humanity_arlight";
		$fontBMSARThin:				"bms_humanity_arthin";
		
	

	//Named Vars
	$fontBody:			$fontBMS;
	$fontDisplay:	$fontBMSNW;
	$fontAlt:			$fontBMSAR;

/***** Static Font Sizes *****/
	$fontSizeHeading:		36px;
	$fontSizeSubhead:		24px;
	$fontSizeBody:			18px;
	$fontSizeDetail:		12px;

/***** Dynamic Font Sizes *****/
	$clampExtraExtraSmall:		clamp(6px, 1vw, 10px);
	$clampExtraSmall:		clamp(10px, 1.2vw, 16px);
	$clampSmall: 				clamp(12px, 1.5vw, 21px);
	$clampMedium: 			clamp(14px, 2vw, 28px);
	$clampLarge: 			clamp(24px, 4vw, 45px);
	$clampExtraLarge: 	clamp(36px, 5.5vw, 60px);

/***** Letter Spacing *****/
	$letterSpacingWide:		0.05em;
	$letterSpacingNormal:	0.035em;

/***** Content Widths *****/
	$contentWidthMin: 		320px;
	$contentWidthSm: 		650px;
	$contentWidthMd: 		1100px;
	$contentWidthLg: 		1450px;
	$contentWidthXl: 		1650px;
	$contentWidthMax: 		2400px;


/***** Transition Timings *****/
	$transitionFast:		0.175s ease-in-out;
	$transitionMedium:	0.25s ease-in-out;
	$transitionSlow:		0.5s ease-in-out;


/***** Z-Index Ranges *****/
	$zIndexBase: 		0;
	$zIndexMedium: 	100;
	$zIndexHigh: 		1000;
	$zIndexMax: 		10000;


/***** Border Settings *****/
	$borderWidth:	clamp(2px, 0.1vw,3px);
	$borderRadius:	20px;

/***** Shadows *****/
	$simpleShadow: 
		0.1em -0.1em 0.25em rgba($black, 0.15),
		0.25em 0.25em 0.25em rgba($black, 0.25);
	
	$simpleShadowLarge: 
		-0.25em -0.25em 1em rgba($black, 0.1),
		1em 1em 1em rgba($black, 0.25);

	/* source: https://brumm.af/shadows */
	$niceShadow:
		0 2.8px 2.2px rgba($black, 0.02),
		0 6.7px 5.3px rgba($black, 0.028),
		0 12.5px 10px rgba($black, 0.035),
		0 22.3px 17.9px rgba($black, 0.042),
		0 41.8px 33.4px rgba($black, 0.05),
		0 100px 80px rgba($black, 0.07);

	$niceShadowShort:
		0 1.1px 2.2px rgba($black, 0.02),
		0 2.7px 5.3px rgba($black, 0.028),
		0 5px 10px rgba($black, 0.035),
		0 8.9px 17.9px rgba($black, 0.042),
		0 16.7px 33.4px rgba($black, 0.05);


	$textShadowRed:
		1px 1px $red, 
		2px 2px $red, 
		3px 3px $red, 
		4px 4px $red, 
		5px 5px $red;
	  
	$textGlowRed:
		0 0 1vw $red, 
		0 0 3vw $red, 
		0 0 10vw $red, 
		0 0 10vw $red, 
		0 0 .4vw $red, 
		.25vw .25vw .1vw #806914;
